body {
	margin: 0;
	padding: 0;
	overflow: hidden;

	font-family: 'Passion One', cursive;
}

.top {
	position: relative;
	height: 100%;
	margin: 60vh;
	overflow: hidden;

	text-align: end;
}

.text {
	font-size: 6vh;

	padding-left: 2%;
	padding-right: 2%;

	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bottom {
	position: absolute;

	z-index: -1;
	top: 7%;
	left: 30%;
	margin-top: 60vh;
	width: 40%;
	text-align: end;
	font-family: 'Roboto', sans-serif;
}

#sub {
	font-size: 4vh;
}

.black {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 0;

	background-color: #1e2120;
	z-index: 1;
}

.orange {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 0;

	background-color: #eccd1d;
	z-index: 2;
}
